
body {
  background: linear-gradient(135deg, #cfcfcf, #eeeeee);


  font-family: Arial, sans-serif;
  margin: 0;
}


.logo {
  margin: 15px;
}


.header h1 {
  margin: 10px 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.nav-left {
  font-size: 20px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  gap: 25px;
}

.nav-right a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
}

.nav-right a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: black;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.nav-right a:hover::after {
  width: 100%;
}

.sketch{
  max-width: 860px;
  margin: 0 auto;
}



.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}


.record {
  width: 200px;
  margin: 40px 0;
  transition: transform 0.5s ease;
  animation: spin 2s linear infinite;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text1,
.text2 {
  background: rgba(255, 255, 255, 0.411);
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  margin-bottom: 20px;
}


p {
  font-size: 18px;
  line-height: 1.6;
}


@media (max-width: 768px) {

  
  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .nav-right {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

 
  .container {
    padding: 0 15px;
  }

  
  .record {
    width: 140px;
    margin: 30px 0;
  }

  
  .text1,
  .text2 {
    padding: 15px;
    border-radius: 10px;
  }


  p {
    font-size: 16px;
  }
}
